@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.indigo-light {
  cc-banner {
    --cc-background: theme(colors.gray.100);
    --cc-background-shade: theme(colors.gray.300);
    --cc-title-color: theme(colors.gray.900);
    --cc-color: theme(colors.gray.700);
    --cc-link-color: theme(colors.gray.600);
    --cc-primary: theme(colors.indigo.500);
    --cc-primary-hover: theme(colors.indigo.600);
    --cc-primary-color: theme(colors.gray.50);
    --cc-secondary: theme(colors.gray.300);
    --cc-secondary-hover: theme(colors.gray.200);
    --cc-secondary-color: theme(colors.gray.800);
  }
}

.orange-dark {
  cc-banner {
    --cc-background: theme(colors.gray.800);
    --cc-background-shade: theme(colors.gray.600);
    --cc-title-color: theme(colors.gray.50);
    --cc-color: theme(colors.gray.200);
    --cc-link-color: theme(colors.gray.300);
    --cc-primary: theme(colors.yellow.600);
    --cc-primary-hover: theme(colors.yellow.700);
    --cc-primary-color: theme(colors.gray.50);
    --cc-secondary: theme(colors.gray.500);
    --cc-secondary-hover: theme(colors.gray.600);
    --cc-secondary-color: theme(colors.gray.50);
  }
}

.blue {
  cc-banner {
    --cc-background: theme(colors.blue.50);
    --cc-background-shade: theme(colors.blue.200);
    --cc-title-color: theme(colors.blue.800);
    --cc-color: theme(colors.blue.700);
    --cc-link-color: theme(colors.blue.600);
    --cc-primary: theme(colors.blue.800);
    --cc-primary-hover: theme(colors.blue.800);
    --cc-primary-color: theme(colors.blue.50);
    --cc-secondary: theme(colors.blue.50);
    --cc-secondary-hover: theme(colors.blue.100);
    --cc-secondary-color: theme(colors.blue.700);
  }
}
